<div class="checkout--page">
    <div class="checkout bd-grid">
        <h1>Hello There </h1>
        <h1>Checkout</h1>
        <p>Thank you for shopping with us!</p>
        <div class="checkout--data">
            <table>
                <tbody>
                <tr>
                    <td><img ng-src="{{product.productImage}}" alt="phone 1"><td>
                        <td><h2>{{product.productTitle}}</h2></td>
                        <td><p>Price:{{product.productPrice | number}}</p></td>
                </tr>
                </tbody>
            </table>      
        </div>
    </div>
</div>