<!-- ------------------Footer Section---------------- -->
<section class="footer__container" id="footerNav">
    <footer>
        <!-- Footer main -->
        <div class="ft-main">
            <div class="ft-main--item">
                <p>SIGN UP TO OUR NEWS LETTER</p>
                <p>Be the first to receive our promotions</p>
            </div>
            <div class="ft-main--item">
                <form>
                    <input type="email" value="" placeholder="Enter your Email">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
        <p id="footerbar"></p>
        <h2>Why shop with us?</h2>
        <div class="ft-main">
            <div class="ft-main--item1">
                <img src="Images/genuine.png" alt="Genuine">
                <p id="headerText">Guaranteed Product Quality</p>
                <p id="bodyText"><b>No fake products</b> with money back guarantee<br>
                    <b>Instant returns</b> on unsatisfactory products upon delivery
                </p>
            </div>
            <div class="ft-main--item1">
                <img src="Images/delivery-guarantee.png" alt="Genuine">
                <p id="headerText">Fast Reliable Deliveries</p>
                <p id="bodyText"><b>3 Hours Deliver</b> Promise within Nashik<br>
                    <b>Selected</b> pickup points for convenience
                </p>
            </div>
            <div class="ft-main--item1">
                <img src="Images/years-of-trust.png" alt="Genuine">
                <p id="headerText">Personalized For You</p>
                <p id="bodyText"><b>Pay with bonga points, M-PESA or credit card</b><br>
                    <b>Compare products</b> for easy purchase <br>
                    <b>Get digital assistance</b>in your purchase
                </p>
            </div>
        </div>
        <p id="footerbar"></p>
        <h6>Stay Connected With Us</h6>
        <div class="ft-main">
            <div class="ft-main--social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="ft-main">
            <div class="ft-main--links">
                <a href="#" class="footer__links">How to Shop</a>
                <a href="#" class="footer__links">About Us</a>
                <a href="#" class="footer__links">Terms & Conditions</a>
                <br>
                <a href="#" class="footer__links">My Account</a>
                <a href="#" class="footer__links">My Order</a>
                <a href="#" class="footer__links">Track My Order</a>
                <a href="#" class="footer__links">Privacy Policy</a>
                <a href="#" class="footer__links">Returns Policy</a>
                <a href="#" class="footer__links">Refund Policy</a>
                <br>
                <a href="#" class="footer__links">FAQ's</a>
                <a href="#" class="footer__links">Shipping & Delivery Policy</a>
                <a href="#" class="footer__links">Customer Service</a>
            </div>
        </div>
        <div class="ft-main">
            <div class="ft-main--google">
                <img src="Images/google-play.89324eb3.png" alt="Google Play">
                <img src="Images/app-store.png" alt="App Store">
            </div>
        </div>
        <p id="license">© 2021. Shubham Karad</p>
    </footer>
</section>